html {
    font-family: Helvetica;
    display: block;
    margin: 0px auto;
    background-color: #000000;
}

.Block_List {
    overflow-x: auto;
    overflow-y: auto;
    width: 250px;
    border-radius: 10px;
    border-color: #808080;
    height: 1000px;
}

.Editor {
    position: absolute;
    top: 5px;
    left: 270px;
    width: 1800px;
    height: 1400px;
    border: dashed;
    border-color: #808080;
    border-width: 3px;
    border-radius: 5px;
    margin: 5px;
    padding: 16px;
    background-color: #000000;
}

.button {
    color: #ffffff;
    background-color: #129393;
    clear: both;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 8px;
    width: fit-content;
}

.CodeBlock {
    color: #ffffff;
    background-color: #ff0000;
    clear: both;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    height: 36px;
    margin: 2px;
    padding: 8px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.BlockConnector{
    left: 20px;
    top: 51px;
    height: 8px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    background-color: #ff0000;
    border-color: #ffffff;
    border-width: 1px;
    border-style: none;
}

.MoveBlock {
    cursor: move;
}

.ListBlock {
    position: relative;
    cursor: default;
    box-sizing: content-box;
    width: max-content;
}

.argInput {
    border-width: 1px;
    border-radius: 8px;
    width: 80px;
    font-size: 26px;
    border-style: solid;
}

.custom-select {
    min-width: 50px;
}

select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: fit-content;
    font-size: 26px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}